body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notify_box {
  padding: 0.5em 1em;
  margin: 0 0 20px 0;
  color:#666;
  background: #ffebe9;
  border-top: solid 5px #ff7d6e;
}
.notify_box p {
  margin: 0; 
  padding: 0;
}